/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/* target="_blank"
после href */


:root {
    --main-back-color: rgba(255, 255, 255, 1);
    --main-hover-focus-font-color: rgba(33, 150, 243, 1);
    --button-hover-focus-back-color: rgba(33, 150, 243, 1);
    --button-hover-focus-font-color: rgba(255, 255, 255, 1);
    --another-back-color: rgba(245, 244, 250, 1);
    --button-font-color: rgba(33, 33, 33, 1);
    --button-back-color: rgba(245, 244, 250, 1);
    --footer-font-color: rgba(255, 255, 255, 0.6);
    --footer-main-color: rgba(255, 255, 255, 1);
    --footer-hover-focus-color: rgba(33, 150, 243, 1);
    --main-section-padding: 94px;
    --footer-main-color: rgba(255, 255, 255, 1);
}

body {
    background-color: var(--main-back-color);
    color: rgba(117, 117, 117, 1);
    font-family: 'Roboto', sans-serif;

}


h2,
h3 {
    color: rgba(33, 33, 33, 1);
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.sections-header {
    font-size: 36px;
    line-height: 1.17;
    padding-bottom: 50px;
    text-align: center;
}

/* Верхняя линия */
.header {
    padding: 25px 15px;
}
.header__bottom-border {
    border-bottom: 1px solid #ECECEC;
}



.flex {
    display: flex;
    align-items: center;
}

.header__content-orientation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
}

.logo__word {
    color: var(--main-hover-focus-font-color);
}

.nav__link {
    color: rgba(33, 33, 33, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item--decor {
    position: relative;
}

.nav__item--decor::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -33px;
    background: #2196F3;
    border-radius: 2px;

}


.nav__link:hover,
.nav__link:focus,
.header__contact-link:hover,
.header__contact-link:focus {
    color: var(--main-hover-focus-font-color);
}

.nav__link--activ {
    color: var(--main-hover-focus-font-color)
}

.nav__item {
    margin-left: 50px;
}
.nav__item:first-child {
    margin-left: 0;
}
/* .auto-margin {
    margin-left: auto;
} */

.header__contact-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(117, 117, 117, 1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact-icon {
    margin-right: 10px;
    max-width: 16px;
    max-height: 16px;
    fill: #757575;
    /* outline: 1px solid red; */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-list {
    display: flex;
    align-items: center;
}
.header__contact-link:hover {
    color: var(--main-hover-focus-font-color);
}

.header__contact-link:hover .header__contact-icon {
    fill: var(--main-hover-focus-font-color)
}

.header__contact-item {
    margin-left: 50px;
}

/* Шапка */
.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/background/hero.jpg') center/cover no-repeat;
} 


.hero__content {
    margin: 0 auto;
    width: 695px;
}

.hero__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
}

.hero__button {
    display: inline-block;
    padding: 10px 32px;
    background-color: var(--button-hover-focus-back-color);
    border-radius: 4px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--button-hover-focus-font-color);
    margin-left: 247px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
    cursor: pointer;
}


/* Модальное окно */
.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 100;
}


.is-hidden {
    display: none;
}

.modal {
    position: relative;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal__button::before,
.modal__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 2px;
    background-color: #000000;
}

.modal__button::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__button::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* Форма */
.form {
    display: flex;
    flex-direction: column;
}

.form>.form__container {
    display: flex;
    flex-direction: column;
}

.form__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.form__container {
    margin-bottom: 10px;
    position: relative;
}

.form__input-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.form__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    box-sizing: border-box;
}

.form__input:focus-within {
    outline: none;
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.form__container:focus-within>.form__input-decor-orientation {
    fill: #188CE8;
}

.form__textarea {
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form__textarea:focus-within {
    outline: none;
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
}

.form__input-decor-orientation {
    position: absolute;
    top: 28px;
    left: 15px;
}

.form__input-decor-icon {
    width: 18px;
    height: 18px;
    /* fill: #212121; */

}

.form__checkbox-label {
    position: relative;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
    padding-left: 32px;
}

.form__checkbox-input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    /* display: none; */
}

.form__custom-checkbox {
    position: absolute;
    top: 4px;
    left: 7px;
    border: 2px solid black;
    width: 16px;
    height: 15px;
    border-radius: 3px;

}

.form__checkbox-input:checked~.form__custom-checkbox>.form__custom-checkbox-icon {
    fill: #FFFFFF;
}

.form__checkbox-input:checked~.form__custom-checkbox {
    background-color: #188CE8;
    border: none;
}


.form__custom-checkbox-icon {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 11px;
    height: 8px;
    fill: transparent;
}

.form__checkbox-link {
    text-decoration: underline;
    color: var(--main-hover-focus-font-color);
}

.form__button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    padding: 10px 56px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: 200px;
    margin: 0 auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
    background: #188CE8;
}

/* Особенности */

.advantages {
    padding-top: var(--main-section-padding);
}

.header-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.advantages__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages__itemdecor {
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.advantages__itemdecor-icon {
    max-width: 70px;
    max-height: 70px;
    margin: 25px 100px;
}

.advantages__header {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.advantages__description {
    font-size: 14px;
    line-height: 1.71;
    width: 270px;
    text-align: left;
    margin-bottom: 0;
}

/* Чем мы занимаемся */
.about-us {
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);
}

.about-us__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us__card {
    position: relative;
}

.about-us__card-text {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 24%;
    width: 100%;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Наша команда */
.our-comand {
    background-color: var(--another-back-color);
    padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding);

}

.our-header {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
}

.our-comand__list {
    display: flex;
    justify-content: space-between;
}

.our-comand__card-item {
    display: flex;
    flex-direction: column;
    /* height: 368px; */
    width: 270px;
    background-color: var(--main-back-color);
}

.our-comand__card-container {
    background-color: var(--main-back-color);
    padding: 30px 32px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    /* outline: 1px solid red; */

}

.card-item__name {
    color: var(--button-font-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    /* background-color: var(--main-back-color); */
    margin-top: 0;
    margin-bottom: 10px;

}

.card-item__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
    /* background-color: var(--main-back-color); */

}

.card-item__social-list {
    display: flex;
}

.social-list__item {
    margin-right: 10px;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
    max-width: 20px;
    max-height: 20px;
    fill: #AFB1B8;
    /* outline: 1px solid red; */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover {
    background-color: var(--main-hover-focus-font-color);
}

.social-list__link:hover .social-list__icon {
    fill: #fff;
}

/* Наши клиенты */
.our-clients {

    /* padding-top: var(--main-section-padding);
    padding-bottom: var(--main-section-padding); */
    padding: var(--main-section-padding) 0px;
}

.our-clients__list {
    display: flex;
    justify-content: space-between;
}

.our-clients__item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}

.our-clients__icon {
    width: 170px;
    height: 92px;
    fill: #AFB1B8;
    /* outline: 1px solid red; */
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__icon:hover {
    fill: var(--main-hover-focus-font-color);
}

/* Подвал */
.footer {
    max-width: 100vw;
    background-color: rgba(47, 48, 58, 1);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
}

.footer__ferst-box {
    /* max-width: 230px; */
    margin-right: 70px;
}

.logo__second-word {
    color: var(--button-hover-focus-font-color);
}

.footer__adress {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.footer__adress-link,
.footer__mail-link,
.footer__fone-link {
    color: var(--footer-font-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer__mail-link {
    padding-top: 9px;
    padding-bottom: 9px;
}

.footer__adress-link {
    color: var(--footer-main-color);
}

.footer__adress-link:hover,
.footer__adress-link:focus,
.footer__mail-link:hover,
.footer__mail-link:focus,
.footer__fone-link:hover,
.footer__fone:focus {
    color: var(--footer-hover-focus-color);
    cursor: pointer;
}

.footer__second-box {
    padding-top: 12px;
    margin-right: 93px;
}

.footer__header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--footer-main-color);
    margin-bottom: 20px;
}

.footer__second-box .social-list__link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer__second-box .social-list__link:hover {
    background-color: var(--footer-hover-focus-color);
}

.footer__third-box {
    padding-top: 12px;
}

.footer__email-input {
    background-color: rgba(47, 48, 58, 1);
    height: 50px;
    /* border: none; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    margin-right: 12px;
}

.footer__email-input:focus-within {
    /* border-color: inherit; */
    outline: none;
}

.footer__email-input::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin: 15px, 0px, 15px, 16px;
    padding: 15px 16px;
}


.footer__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    padding: 10px 29px;
}

.footer__button-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__button-icon {
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
    margin-left: 10px;
}

/* Радиокнопки */
.portfolio {
    padding: 94px 15px;
}


.portfolio__button-list {
    justify-content: center;
    /* margin-top: 94px; */
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.portfolio__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--button-font-color);
    background-color: var(--button-back-color);
    border-color: #F5F4FA;
    border-radius: 4px;
    margin-right: 8px;
    border: none;
    padding: 6px 22px;
    /* color: rgba(red, green, blue, alpha); */
}


.portfolio__button:hover,
.portfolio__button:focus {
    background-color: var(--button-hover-focus-back-color);
    color: var(--button-hover-focus-font-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgb(229, 229, 229, 0.8);
}

.portfolio__content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

.portfolio__item {
    margin-bottom: 30px;
    position: relative;
}
.portfolio__item:hover {
    box-shadow: 1px 6px 6px rgb(229, 229, 229, 0.9);
}

.portfolio__card-icon {
    position: relative;
    overflow: hidden;

}

.potfolio__card-capture {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;

    padding: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio__item:hover .potfolio__card-capture {
    top: 0%;
}

.portfolio__card-capture-text {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}
.portfolio__item:nth-child(3n + 3) {
    margin-right: 0px;
}

.portfolio__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.potfolio__card-description-box {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.potfolio__card-description-product {
    font-size: 18px;
    line-height: 2;
}

.potfolio__card-description-classification {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
}