$main-back-color: rgba(255, 255, 255, 1);
$main-hover-focus-font-color: rgba(33, 150, 243, 1);
$button-hover-focus-back-color: rgba(33, 150, 243, 1);
$button-hover-focus-font-color: rgba(255, 255, 255, 1);
$another-back-color: rgba(245, 244, 250, 1);
$button-font-color: rgba(33, 33, 33, 1);
$button-back-color: rgba(245, 244, 250, 1);
$footer-font-color: rgba(255, 255, 255, 0.6);
$footer-main-color: rgba(255, 255, 255, 1);
$footer-hover-focus-color: rgba(33, 150, 243, 1);
$main-section-padding: 94px;
$footer-main-color: rgba(255, 255, 255, 1);

$main-transition-time: 250ms;
$main-transition-function: cubic-bezier(0.4, 0, 0.2, 1);