.logo {
    display: inline-block;
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    &__word {
        color: $main-hover-focus-font-color;
    }
    &__second-word {
        color: $button-hover-focus-font-color;
    }
}
